{% extends 'base.html'%}



{% block content %}
<div class="container">
    <h1>All your favorites programs</h1>
    <h6>in a one page/place</h6>
    <hr>

    <table class="table table-striped">
        <thead class="table-success">
            <tr>
                <th class="col">ID</th>
                <th class="col">Title</th>
                <th class="col">Network</th>
                <th class="col">Release Date</th>
                <th class="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {%for tv in tv%}
            <tr>
                <td>{{tv.id}}</td>
                <td>{{tv.title}}</td>
                <td>{{tv.network}}</td>
                <td>{{tv.release_date}}</td>
                <td><a href="../shows/edit_show/{{tv.id}}" class="btn btn-warning"><i class="far fa-edit"></i></i></a>
                    <a href="delete_show/{{tv.id}}" class="btn btn-danger">
                        <i class="far fa-trash-alt"></i></a>
                    <button class="btn btn-danger delete" value="{{tv.id}}"> <i class="far fa-trash-alt"></i>
                        borrar</button>
                    <a href="show_tv/{{tv.id}}" class="btn btn-primary"><i class="far fa-eye"></i></a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>

    <a href="/new_show" class="btn btn-success">Add a New Show</a>

    <script>
        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-right",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }
        {% for message in messages %}
        toastr.{{message.tags}} ('{{ message }}');
        {% endfor %}
    </script>
</div>
{% endblock %}